### Parte I: Análisis de la base de hogares y tipo de ocupación

#### 2-Eliminen todas las observaciones que no corresponden a los aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos Aires y unan ambos trimestres en una sola base. Esto es, a la base de la encuesta individual de cada año (que usaron en el TP3) unan la base de la encuesta de hogar. Asegúrese de estar usando las variables CODUSU y NRO_Hogar para el merge

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
EPH2024H = pd.read_excel('usu_hogar_T124.xlsx')
EPH2004H = pd.read_stata("Hogar_t104.dta")

EPH_completo_I = pd.read_csv('respondieron_limpio.csv')

C:\Users\gabri\AppData\Local\Temp\ipykernel_11336\3308375638.py:4: DtypeWarning: Columns (2,15,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  EPH_completo_I = pd.read_csv('respondieron_limpio.csv')

In [18]:
EPH2004H.columns = EPH2004H.columns.str.lower()
EPH2024H.columns = EPH2024H.columns.str.lower()

EPH2024BSH=EPH2024H[(EPH2024H["aglomerado"] == 32) | (EPH2024H["aglomerado"] == 33)]
EPH2004BSH=EPH2004H[(EPH2004H["aglomerado"] == "Ciudad de Buenos Aires") | (EPH2004H["aglomerado"] == "Partidos del GBA")]

In [19]:
EPH_completo_H= pd.concat([EPH2004BSH, EPH2024BSH], ignore_index=True)
EPH_completo_H

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
0,125098,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,Departamento,...,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
1,125397,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,Departamento,...,,00,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
2,125515,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,Departamento,...,,05,1.0,0.0,98.0,0.0,0.0,0.0,00010,NaN
3,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,Departamento,...,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000,NaN
4,125599,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1471.0,Casa,...,,02,2.0,0.0,1.0,0.0,0.0,0.0,00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,TQRMNOPSSHKMROCDEIJAH00861731,1.0,1,2024.0,1,1,S,33,3772.0,1,...,NaN,10,1,0,96,0,0,0,NaN,5211.0
4892,TQRMNOPWVHJLSSCDEIJAH00794914,1.0,1,2024.0,1,1,S,33,1862.0,1,...,NaN,2,4,2,98,0,0,0,NaN,4520.0
4893,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,1,2024.0,1,1,S,33,2639.0,1,...,NaN,12,2,0,98,0,0,0,NaN,0.0
4894,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,1,2024.0,1,1,S,33,1497.0,2,...,NaN,10,1,0,98,0,0,0,NaN,2000.0
4895,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,2024.0,1,1,S,33,3120.0,1,...,NaN,6,2,1,3,0,0,0,NaN,6154.0

In [21]:
EPH_completo = pd.merge(EPH_completo_I, EPH_completo_H, on=["codusu", "nro_hogar"])
EPH_completo

,codusu,nro_hogar,componente,ano4_x,aglomerado_x,pondera_x,ch04,ch06,ch07,ch08,...,pdeccfr,adeccfr_y,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
0,125098,1.0,1.0,2004,32,1299.0,1,79.0,4.0,1.0,...,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
1,125397,1.0,1.0,2004,32,2018.0,2,67.0,9.0,4.0,...,,00,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
2,125515,1.0,1.0,2004,32,1486.0,2,74.0,4.0,1.0,...,,05,1.0,0.0,98.0,0.0,0.0,0.0,00010,NaN
3,125558,1.0,1.0,2004,32,1674.0,1,54.0,2.0,2.0,...,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000,NaN
4,125558,1.0,2.0,2004,32,1674.0,2,51.0,2.0,2.0,...,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13004,TQRMNORWVHLKOPCDEIIAD00861660,1.0,4,2024,32,590.0,1,21.0,5.0,1.0,...,NaN,12,2,1,98,0,0,0,NaN,0.0
13005,TQRMNORWVHLKOPCDEIIAD00861660,1.0,5,2024,32,590.0,1,19.0,5.0,1.0,...,NaN,12,2,1,98,0,0,0,NaN,0.0
13006,TQRMNORWVHLKOPCDEIIAD00861660,1.0,6,2024,32,590.0,2,16.0,5.0,1.0,...,NaN,12,2,1,98,0,0,0,NaN,0.0
13007,TQRMNOPSYHJLOQCDEIIAD00794774,1.0,1,2024,32,1376.0,2,34.0,5.0,1.0,...,NaN,10,1,0,96,0,0,0,NaN,1781.0
13008,TQRMNOSXVHJKKMCDEIJAH00794775,1.0,2,2024,33,2818.0,1,63.0,2.0,1.0,...,NaN,12,1,2,3,4,0,0,NaN,0.0

#### 3-Limpien la base de datos tomando criterios que hagan sentido. Explicar cualquier decisión como el tratamiento de valores faltantes (missing values), extremos (outliers), o variables categóricas. Justifique sus decisiones

#### 4-Construya variables (mínimo 3) que no estén en la base pero que sean relevantes para predecir individuos desocupados (por ejemplo, la proporción de personas que trabajan en el hogar).

#### 5-Presenten estadísticas descriptivas de tres variables de la encuesta de hogar que ustedes creen que pueden ser relevantes para predecir la desocupación. Comenten las estadísticas obtenidas.

### Parte II: Clasificación y regularización