### Parte I: Análisis de la base de hogares y tipo de ocupación

#### 2-Eliminen todas las observaciones que no corresponden a los aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos Aires y unan ambos trimestres en una sola base. Esto es, a la base de la encuesta individual de cada año (que usaron en el TP3) unan la base de la encuesta de hogar. Asegúrese de estar usando las variables CODUSU y NRO_Hogar para el merge

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
EPH2024H = pd.read_excel('usu_hogar_T124.xlsx')
EPH2004H = pd.read_stata("Hogar_t104.dta")

EPH_completo_I = pd.read_csv('respondieron_limpio.csv')

C:\Users\gabri\AppData\Local\Temp\ipykernel_13184\3308375638.py:4: DtypeWarning: Columns (2,15,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  EPH_completo_I = pd.read_csv('respondieron_limpio.csv')

In [3]:
EPH2004H.columns = EPH2004H.columns.str.lower()
EPH2024H.columns = EPH2024H.columns.str.lower()

EPH2024BSH=EPH2024H[(EPH2024H["aglomerado"] == 32) | (EPH2024H["aglomerado"] == 33)]
EPH2004BSH=EPH2004H[(EPH2004H["aglomerado"] == "Ciudad de Buenos Aires") | (EPH2004H["aglomerado"] == "Partidos del GBA")]

In [4]:
EPH_completo_H= pd.concat([EPH2004BSH, EPH2024BSH], ignore_index=True)
EPH_completo_H

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
0,125098,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,Departamento,...,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
1,125397,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,Departamento,...,,00,1.0,0.0,98.0,0.0,0.0,0.0,00000,NaN
2,125515,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,Departamento,...,,05,1.0,0.0,98.0,0.0,0.0,0.0,00010,NaN
3,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,Departamento,...,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000,NaN
4,125599,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1471.0,Casa,...,,02,2.0,0.0,1.0,0.0,0.0,0.0,00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,TQRMNOPSSHKMROCDEIJAH00861731,1.0,1,2024.0,1,1,S,33,3772.0,1,...,NaN,10,1,0,96,0,0,0,NaN,5211.0
4892,TQRMNOPWVHJLSSCDEIJAH00794914,1.0,1,2024.0,1,1,S,33,1862.0,1,...,NaN,2,4,2,98,0,0,0,NaN,4520.0
4893,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,1,2024.0,1,1,S,33,2639.0,1,...,NaN,12,2,0,98,0,0,0,NaN,0.0
4894,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,1,2024.0,1,1,S,33,1497.0,2,...,NaN,10,1,0,98,0,0,0,NaN,2000.0
4895,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,2024.0,1,1,S,33,3120.0,1,...,NaN,6,2,1,3,0,0,0,NaN,6154.0

In [ ]:
# Suponiendo que tienes dos DataFrames: EPH_completo_I y EPH_completo_H

# Obtener los nombres de las columnas de ambos DataFrames
columnas_I = set(EPH_completo_I.columns)
columnas_H = set(EPH_completo_H.columns)
columnas_merge = set(["codusu", "nro_hogar"])
# Encontrar las columnas comunes
columnas_comunes = columnas_I.intersection(columnas_H)

# Mostrar las columnas comunes
print("Columnas comunes en ambos DataFrames:")
print(columnas_comunes)

columnas_interes = columnas_comunes - columnas_merge
columnas_interes = sorted(list(columnas_interes))

Columnas comunes en ambos DataFrames:
{'gdeccfr', 'rdecifr', 'rdeccfr', 'gdecifr', 'pondera', 'adeccfr', 'ano4', 'ipcf', 'itf', 'decifr', 'codusu', 'adecifr', 'aglomerado', 'nro_hogar', 'deccfr'}
adeccfr
adecifr
aglomerado
ano4
deccfr
decifr
gdeccfr
gdecifr
ipcf
itf
pondera
rdeccfr
rdecifr

In [34]:
EPH_completo = pd.merge(EPH_completo_I, EPH_completo_H, on=["codusu", "nro_hogar"], suffixes=('_I', '_H'))

#### 3-Limpien la base de datos tomando criterios que hagan sentido. Explicar cualquier decisión como el tratamiento de valores faltantes (missing values), extremos (outliers), o variables categóricas. Justifique sus decisiones

In [ ]:
#revisamos si los valores duplicados tienen sentido:

for i in columnas_interes:
    valor_i = i + "_I"
    valor_h = i + "_I"
    resta = EPH_completo[valor_i] - EPH_completo[valor_h]

    for x in resta:
        if x != 0: 
            print("Existe una diferencia entre " + valor_i + " y " + valor_h + ": " + x)
    
    nan_check = resta.isna().sum()

    print("cantidad de nan en la resta de "+ i + ": " + str(nan_check))

cantidad de nan en la resta de adeccfr: 0
cantidad de nan en la resta de adecifr: 0
cantidad de nan en la resta de aglomerado: 0
cantidad de nan en la resta de ano4: 0
cantidad de nan en la resta de deccfr: 0
cantidad de nan en la resta de decifr: 0
cantidad de nan en la resta de gdeccfr: 0
cantidad de nan en la resta de gdecifr: 0
cantidad de nan en la resta de ipcf: 0
cantidad de nan en la resta de itf: 0
cantidad de nan en la resta de pondera: 0
cantidad de nan en la resta de rdeccfr: 0
cantidad de nan en la resta de rdecifr: 0

#### 4-Construya variables (mínimo 3) que no estén en la base pero que sean relevantes para predecir individuos desocupados (por ejemplo, la proporción de personas que trabajan en el hogar).

#### 5-Presenten estadísticas descriptivas de tres variables de la encuesta de hogar que ustedes creen que pueden ser relevantes para predecir la desocupación. Comenten las estadísticas obtenidas.

### Parte II: Clasificación y regularización